<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <title>Page Title</title>
</head>
<body class="p-3 mb-2 bg-light text-dark">
<div th:replace="~{fragments/Nav :: navbar(~{::content}, ~{::title})}">
    <th:block th:fragment="title">
        <title>loginForm</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- context -->
        <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">

            <form th:action method="post" style="width: 350px;" th:object="${user}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>
                <input th:field="*{userEmail}" type="email" class="form-control mb-2" name="userEmail" placeholder="아이디">
                <div th:if="${#fields.hasErrors('userEmail')}">
                    <small th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></small>
                </div>

                <input th:field="*{password}" type="password" class="form-control mb-2" name="password" placeholder="비밀번호">
                <div th:if="${#fields.hasErrors('password')}">
                    <small th:each="err : ${#fields.errors('password')}" th:text="${err}"></small>
                </div>

                <button type="submit" class="btn btn-primary w-100">로그인</button>
                <hr>
                <a th:href="@{/users/add}" class="btn btn-primary w-100">회원가입</a>
            </form>
        </div>
    </th:block>
</div>
</body>
</html>


